package ${package};

${import}

public class ${className}DaoImpl implements ${className}Dao {

	private QueryDao queryDao;
	private UpdateDao updateDao;

	public QueryDao getQueryDao() {
		return queryDao;
	}

	public void setQueryDao(QueryDao queryDao) {
		this.queryDao = queryDao;
	}

	public UpdateDao getUpdateDao() {
		return updateDao;
	}

	public void setUpdateDao(UpdateDao updateDao) {
		this.updateDao = updateDao;
	}

	@Override
	public ${className} selectBy${keyFieldName}(${keyFieldType} ${keyFieldName}) {
	
		return queryDao.selectOne("${mapperpackage}.${tableName}Mapper.selectBy${keyFieldName}", ${keyFieldName});
	}
	
	@Override
	public List<${className}> selectList(${className} ${tableName}) {

		return queryDao.selectList("${mapperpackage}.${tableName}Mapper.selectList", ${tableName});
	}

	@Override
	public int insert(${className} ${tableName}) {

		return updateDao.insert("${mapperpackage}.${tableName}Mapper.insert", ${tableName});
	}

	@Override
	public int updateBy${keyFieldName}(${className} ${tableName}) {

		return updateDao.insert("${mapperpackage}.${tableName}Mapper.updateBy${keyFieldName}", ${tableName});
	}
	
}
